<div class="welcome">
<h1>Welcome to Google books API</h1>
<div class="enterNameNote">Please enter your username:</div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                  <input  matInput type="text" formControlName="userName" placeholder="Username" required>
              </mat-form-field>

                <button  mat-button type="submit"  [disabled]="!profileForm.valid" color="accent">Submit</button>

              </form>

</div>