<div class="searchApp">
  <h4 class="helloName"> Hello {{name.userName}} </h4>
  <h1>Book Search</h1>
      <form [formGroup]="searchForm">
      {{booksName}}
                  <mat-form-field>
                      <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto" formControlName="searchBar">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading" >
                          <mat-option *ngFor="let option of searchResult" >
                            <span (click)="openDialog(option)">{{ option.volumeInfo.title }}</span>
                          </mat-option>                        
                        </ng-container>
                      </mat-autocomplete>
                    </mat-form-field>
      </form>
  </div>